/* line 5, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-jumbotron {
  background-image: url("/images/SAM_6998.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  margin: 50px;
  text-align: center;
}

/* line 16, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-jumbotron h1 {
  font-family: 'Catamaran';
  text-transform: uppercase;
}

/* line 21, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-supporting {
  text-align: center;
  height: 700px;
  padding: 40px;
  text-transform: uppercase;
}

/* line 29, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-supporting h1 {
  color: #969696;
  letter-spacing: 2px;
  margin-top: 200px;
}

/* line 35, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-supporting h3 {
  padding: 20px;
}

/* line 39, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-supporting p {
  text-transform: none;
  font-size: 1.2em;
}

/* line 45, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-supporting-2 {
  background-image: url("/images/regiones-multi.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  text-align: center;
  margin: 50px;
  background-attachment: fixed;
}

/* line 57, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-supporting-2 {
  font-family: "Catamaran";
}

/* line 61, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-supporting-2 h2 {
  padding-top: 195px;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0px 2px 3px #333;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 70, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-supporting-2 h4 {
  padding: 20px 0px 0px 0px;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 2px 3px #333;
  letter-spacing: 2px;
}

/* line 81, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-featuring {
  text-align: center;
  margin-bottom: 150px;
}

/* line 86, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-featuring h3 {
  text-transform: uppercase;
}

/* line 90, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-featuring p {
  text-align: justify;
  letter-spacing: 1px;
  color: #989898;
  margin-bottom: 40px;
}

/* line 97, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-featuring #button {
  padding: 18px 35px 18px 35px;
  border: 2px solid #000;
  border-radius: 2%;
  background-color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 107, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-featuring #button:hover {
  background-color: #000;
  color: #fff;
  transition: background-color .3s;
}

/* line 113, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-featuring-2 {
  text-align: center;
  margin-top: 200px;
}

/* line 119, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-featuring-2 h3 {
  padding: 40px 40px 10px 40px;
}

/* line 123, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-featuring-2 p {
  margin-bottom: 40px;
}

/* line 129, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#home-featuring-2 #button:hover {
  background-color: #000;
  color: #fff;
  transition: background-color .3s;
}

/** product display **/
/* line 137, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-product {
  margin-top: 300px;
}

/* line 141, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-product .img-responsive {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* line 146, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-product .region-name {
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 2px #000;
}

/* line 153, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #home-product p {
  display: inline-block;
  float: left;
}

/** tienda en linea **/
/* line 160, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #page-product {
  margin-top: 20px;
}

/* line 164, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #page-product .img-responsive {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* line 169, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #page-product .region-name {
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 2px #000;
}

/* line 176, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #page-product p {
  display: inline-block;
  float: left;
}

/* line 181, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#origenes-supporting p {
  margin-bottom: 40px;
  padding-bottom: 40px;
}

/* line 186, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #distribuidores {
  text-align: center;
}

/* line 190, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #distribuidores .row {
  margin: 80px;
  padding: 40px;
}

/* line 194, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #distribuidores h3 {
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
}

/* line 200, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #contacto {
  text-align: center;
}

/* line 204, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #faq {
  text-align: center;
}

/* line 208, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #faq h3 {
  text-transform: uppercase;
}

/* line 212, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over #faq p {
  text-align: justify;
}

/* line 216, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over .region p {
  margin-bottom: 40px;
  text-align: justify;
}

/* line 221, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over .region ul {
  list-style-type: none;
  display: inline;
  margin-left: 0px;
  padding-left: 0px;
}

/* line 228, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
#bs-over .region li {
  display: inline-block;
}

/* line 232, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
.blog {
  text-align: center;
  color: #333;
}

/** orden en linea **/
/* line 238, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
.orden {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* line 244, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-jumbotron {
    height: 350px;
    margin: 20px;
  }

  /* line 249, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-supporting {
    height: 600px;
  }

  /* line 253, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-supporting h1 {
    font-size: 2em;
  }

  /* line 257, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-supporting h3 {
    padding: 20px 5px 20px 5px;
    font-size: 1.5em;
  }

  /* line 262, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-supporting p {
    font-size: 1.1em;
  }

  /* line 266, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-featuring #cafe-img {
    margin-top: 50px;
  }

  /* line 270, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-supporting h1 {
    margin-top: 50px;
  }

  /* line 274, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-supporting-2 {
    margin: 20px;
  }

  /* line 278, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #origenes-supporting #button {
    font-size: 0.8em;
  }

  /* line 282, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #bs-over #home-supporting-2 h2 {
    font-size: 1em;
  }

  /* line 286, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #bs-over #home-supporting-2 h4 {
    font-size: 1.5em;
  }

  /* line 290, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #home-featuring-2 {
    margin-top: 100px;
  }

  /* line 296, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #bs-over #home-product {
    margin-top: 150px;
  }

  /* line 300, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #bs-over .region a {
    display: inline-block;
  }

  /* line 304, /Users/rodrigomanuel/cafedonlucas/app/assets/stylesheets/pages.scss */
  #bs-over #distribuidores .row {
    margin: 5px;
    padding: 10px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 #bs-over {
	position: relative;
  	overflow: scroll;
  	font-family: 'Oswald', sans-serif;
}

#bs-over p {
	font-weight: 200;
	color: #989898;
	line-height: 30px; 
}

 #bs-over .menu {
	background-color: #000;
	color: #fff;
	height: 100%;
  	position: fixed;
  	width: 220px;
  	right:-220px;
  	z-index: 1000;
  	margin-left: 0px;
  	padding-left: 0px;


}

#bs-over #menu {
	margin-top: 20px;
	color: #fff;
	list-style-type: none;
	display: inline-block;
	margin-top: 20px;
}

#bs-over #menu li {
	color: #fff;
	opacity: 0.9;
	display: inline-block;
	margin-left: 20px;
}

#bs-over #menu li a {
	color: #989898;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	display: inline;
}

#bs-over #menu li a:hover{
	color: #1E1E1E;
	transition: color .3s;
}

.main-nav {
	height: 250px;
	text-align: center;
}

#logo {
	margin-top: 40px;
	margin-left: 120px;
}


#shopping-cart {
	font-size: 2.5em;
	padding: 20px;
	margin-top: 100px;
	margin-right: 50px;
	color: #9F9F9F;
	cursor: pointer;
}

#shopping-cart:hover {
	color:#262626; 
}

.menu ul {
	list-style-type: none;
	margin-left: 25%;
	padding-left: 0px;
}

#bs-over .menu li {
	padding: 10px;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 10px;
	font-size: 22px;
	padding-right: 5px;

}

.menu li a {
	text-decoration: none;
	color: #fff;
}

#bs-over .menu #span a {
	color: #888888;
	border: none;
}

.icon-close i {
	cursor: pointer;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 28px;
}

#icon-menu {
	display: none;
	cursor: pointer;
	padding: 5px;
	margin-left: 5px;
	font-size: 28px;
	z-index: 1000;
	background-color: #fff;
}

#bs-over .btn {
	border-radius: 0%;
	background-color: #333;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #000;
	transition: background-color .3s;
}

#bs-over .btn:hover {
	background-color: #fff;
	color: #000;
}

#bs-over li a span {
	color: #57585B;
	background-color: #57585B;
}

#bs-over li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
    color: #57585B;
    background-color: #57585B; 
}


#bs-over form {
	text-align: left;
	margin-bottom: 60px;
}

/** Footer **/

#bs-over .footer h3 {
	text-transform: uppercase;
	margin-bottom: 100px;
	margin-top: 100px;
}

#bs-over .footer p {
	text-align: center;
	margin-bottom: 100px;
	text-transform: uppercase;
}

#bs-over .footer ul {
	list-style-type: none;
	text-align: center;
	margin-bottom: 50px;
	margin-left: 0px;
	padding-left: 0px;
}

#bs-over .footer ul li {
	display: inline-block;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}

#bs-over .footer ul li a {
	text-decoration: none;
	color: #989898;
}

#bs-over .footer ul li a:hover {
	color: #333;
	transition: color .3s;
}

#bs-over .footer h3 {
	text-align: center;
}

.footer img {
	display: inline-block;
}


.footer .container {
	margin-right: 1px;
	right: 1px;
}

.footer .social-networks i {
	font-size: 1.5em;
	margin-right: 25px;
}

#bs-over #button {
	padding: 18px 35px 18px 35px;
	border: 3px solid #000;
	border-radius: 2%;
	background-color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	color: #000;
	margin-bottom: 40px;
}

#bs-over #button:hover {
	background-color: #000;
	color: #fff;
	transition: background-color .3s;
}

@media only screen and (max-width: 768px) {
	#bs-over #menu {
		display: none;
	}

	#shopping-cart {
		display: none;
	}

	#bs-over #logo {
		margin-left: 5px;
	}


	.main-nav {
		height: 175px;
	}


		#bs-over #icon-menu {
		font-size: 32px;
		color: #000;
		padding-left: 5px;
		padding-top: 3px;
		margin-right: 0px;
		position: fixed;
		z-index: 1000;
		display: block;
		float: right;
		margin-top: 20px;
		top: 5px;
		right: 20px;
		cursor: pointer;
	}

	#bs-over #button {
		margin-bottom: 80px;
	}

}
