<div class="container" id="distribuidores">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<h3>Leonel Fern&aacute;ndez</h3>
			<p>Zona 7, Ciudad de Guatemala.</p>
			<a href="tel:50130517">5013-0517</a>
		</div>
		<div class="col-md-6 col-xs-12">
			<h3>Liseth Meoño</h3>
			<p>Zona 21, Ciudad de Guatemala.</p>
			<a href="tel:59453067">5945-3067</a>
		</div>
	</div>
		<div class="row">
		<div class="col-md-6 col-xs-12">
			<h3>Restaurante San Telmo</h3>
			<p>Calle La Union, Isla de Flores, Pet&eacute;n</p>
			<a href="tel:78675751">7867-5751</a>
		</div>
		<div class="col-md-6 col-xs-12">
			<h3>Silvia Morales</h3>
			<p>Quetzaltenango</p>
			<a href="tel:47387796">47387796</a>
		</div>
	</div>
</div>